.about {
  max-width: 870px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

.about h2 {
  border-bottom: 2px solid #f50057;
  margin-top: 65px;
}

.about p {
  font-weight: 300;
}


@media (max-width: 750px) {
  .about {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
}
