/* App Header */

  .app-header-wrapper {
    /*background-color: #e1e2e1;*/
    /*background-color: #c1c1c1;*/
    /*border-top: 2px solid #0086c3;*/
    border-bottom: 2px solid #e0e0e0;
    background-color: #ffffff;
  }

  .app-header {
    max-width: 1920px;
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .app-header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 300;
  }

  .app-header h1 a {
    text-decoration: none;
  }

  .app-header h1 a:link {
    color: black;
  }

  .app-header h1 a:visited {
    color: black;
  }

  .app-header h1 a:hover {
    color: #63ccff;
  }

  .app-header h1 a:active {
    color: white;
  }

  .app-header-items {
    font-size: 17px;
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .app-header-items a {
    text-decoration: none;
  }

  .app-header-items a:link {
    color: black;
  }

  .app-header-items a:visited {
    color: black;
  }

  .app-header-items a:hover {
    color: #63ccff;
  }

  .app-header-items a:active {
    color: white;
  }

  .app-header-items .first {
    margin-right: 1.4em;
  }
