/* App Header */

  .app-header-wrapper {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
  }

  .app-header {
    max-width: 1920px;
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .app-header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 300;
  }

  .app-header a {
    text-decoration: none;
  }

  .app-header a:link {
    color: black;
    text-decoration: none;
  }

  .app-header a:visited {
    color: black;
  }

  .app-header a:hover {
    color: #63ccff;
    text-decoration: none;
  }

  .app-header a:active {
    color: #0077b1;
  }

  .app-header-items {
    font-size: 17px;
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .app-header-items .first {
    margin-right: 1.4em;
  }
