.home-wrapper {
  background-color: #cfcfcf;
}

/*Setting overflow to auto makes div expand to contain inner content's margins
(otherwise h2's margins overflow and push div down, leaving a gap). Could get same
effect by controlling h2 margins but I think this makes more sense for what I want.*/
.home {
  min-height: 300px;
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}
