.home-wrapper {
  background-color: #e7f0f0;
}

/*Setting overflow to auto makes div expand to contain inner content's margins
(otherwise h2's margins overflow and push div down, leaving a gap). Could get same
effect by controlling h2 margins but I think this makes more sense for what I want.*/
.home {
  min-height: 300px;
  max-width: 870px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  overflow: auto;
  text-align: center;
}

.home h2 {
  margin-top: 65px;
}
