.home-wrapper {
  background-color: #cfcfcf;
}

/*Setting overflow to auto makes div expand to contain inner content's margins
(h2's margins overflow and push div down, leaving a gap). Could get same effect
by controlling h2 margins but I think this makes more sense.*/
.home-page {
  min-height: 300px;
  overflow: auto;
  text-align: center;
}
