* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  /*color: #444444;*/
	color: black;
  line-height: 1.5;
	/*background-color: #f8f8f8;*/
	/*background-color: #f8fafb;*/
	/*background-color: #f2f3f5;*/
	background-color: #f8fafb;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #0000EE;
}

a:visited {
	color: #0000EE;
}

a:hover {
	color: #63ccff;
	text-decoration: underline;
}

a:active {
	color: #0077b1;
}
