/*Styling for location specific error pages*/

  .location.error {
    max-width: 870px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }



/*Station Name & Graph Section*/

  .location-title-graph {
    max-width: 870px;
    margin: 65px auto 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .location .city-name {
    border-bottom: 2px solid #f50057;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .location .station-name {
    font-weight: 300;
  }



/*Weather stats*/

  .location-weather-stats-wrapper {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

  }

  .location-weather-stats {
    max-width: 870px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .location-weather-stats h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .location-weather-stats-info {
    display: flex;
    max-width: 800px;
    margin-bottom: 20px;
  }

  .location-weather-stats-info .column1,
  .location-weather-stats-info .column2,
  .location-weather-stats-info .column3 {
    flex: 1;
  }

  .location-weather-stats-info .column1 {
    padding-right: 20px;
  }

  .location-weather-stats-info .column2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .location-weather-stats-info .column3 {
    padding-left: 20px;
  }

  .location-weather-stats-info h4 {
    border-bottom: 1px solid #f50057;
  }

  .location-weather-stats-info ul {
    padding-left: 0;
  }

  .location-weather-stats-info li {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 13px;
    list-style: none;
  }

  .location-weather-stats-info .value {
    font-weight: normal;
  }



/*Supplementary Info*/

  .location-additional-info-wrapper {
    background-color: #f8fafb;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .location-additional-info {
    max-width: 870px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 17px;
  }

  .location-additional-info h3 {
    border-bottom: 1px solid #f50057;
    margin-bottom: 50px;
  }
  .location-additional-info h4 {
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 18px;
  }
  .location-additional-info p {
    margin-top: 2px;
    font-weight: 300;
  }

  .item, .SharedAreaList {
    margin-bottom: 40px;
  }


/*Small Screen Styles*/

  @media (max-width: 750px) {
    .location.error {
      padding-left: 30px;
      padding-right: 30px;
    }

    .location-title-graph {
      padding-left: 30px;
      padding-right: 30px;
    }

    .location-weather-stats {
      padding-left: 30px;
      padding-right: 30px;
    }

    .location-additional-info {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (max-width: 680px) {
    .location-weather-stats-info {
      flex-direction: column;
    }

    .location-weather-stats-info h4 {
      font-size: 21px;
    }

    .location-weather-stats-info .column1,
    .location-weather-stats-info .column2,
    .location-weather-stats-info .column3 {
      padding-left: 0px;
      padding-right: 0px;
    }

    /*Outside position and margin needed to keep items over li items aligned with above text.*/
    .location-weather-stats-info li {
      list-style: square;
      list-style-position: outside;
      margin-left: 1em;
    }
  }

  @media (max-width: 450px) {
    .location.error {
      padding-left: 20px;
      padding-right: 20px;
    }

    .location-title-graph {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 40px;
    }

    .location-weather-stats {
      padding-left: 20px;
      padding-right: 20px;
    }

    .location-additional-info {
      padding-left: 20px;
      padding-right: 20px;
    }

    .location-additional-info-wrapper {
      padding-top: 25px;
    }

    .location-weather-stats-info {
      margin-bottom: 0px;
    }

    .location-weather-stats-wrapper {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .location-weather-stats h3 {
      margin-bottom: 24px;
    }
  }
