/*Station Name & Graph Section*/

  .location-title-graph {
    max-width: 800px;
    margin: 65px auto 0 auto;
  }

  .location .city-name {
    border-bottom: 2px solid #f50057;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .location .station-name {
    font-weight: 300;
  }



/*Weather stats*/

  .location-weather-stats-wrapper {
    /*background-color: #e7f0f0;*/
    /*background-color: #f9fafa;*/
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  .location-weather-stats {
    max-width: 800px;
    margin: 0 auto;
  }

  .location-weather-stats h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  .location-weather-stats-info {
    display: flex;
    max-width: 800px;
    margin-bottom: 50px;
  }

  .location-weather-stats-info .column1,
  .location-weather-stats-info .column2,
  .location-weather-stats-info .column3 {
    flex: 1;
  }

  .location-weather-stats-info .column1 {
    padding-right: 15px;
  }

  .location-weather-stats-info .column2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .location-weather-stats-info .column3 {
    padding-left: 15px;
  }

  .location-weather-stats-info h4 {
    border-bottom: 1px solid #f50057;
  }

  .location-weather-stats-info ul {
    padding-left: 0;
  }

  .location-weather-stats-info li {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 13px;
    list-style: none;
    /*list-style: square;
    list-style-position: inside;*/
  }

  .location-weather-stats-info .value {
    font-weight: normal;
  }



/*Additional Info*/

  .location-additional-info-wrapper {
    /*background-color: #efefef;*/
    background-color: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .location-additional-info {
    max-width: 800px;
    margin: 0 auto;
    font-size: 17px;
  }

  .location-additional-info h3 {
    border-bottom: 1px solid #f50057;
    margin-bottom: 50px;
  }
  .location-additional-info h4 {
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 18px;
  }
  .location-additional-info p {
    margin-top: 2px;
    font-weight: 300;
  }

  .item, .SharedAreaList {
    margin-bottom: 40px;
  }
