.metroarea {
  max-width: 870px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

.metroarea h2 {
  border-bottom: 2px solid #f50057;
  margin-top: 65px;
}

.metroarea ul {
  list-style-position: inside;
  padding-left: 0px;
}

.metroarea li {
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}

.metroarea p {
  font-weight: 300;
}


/*Small Screen Styling*/

@media (max-width: 750px) {
  .metroarea {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .metroarea {
    padding-left: 20px;
    padding-right: 20px;
  }
}
