.metroarea {
  max-width: 800px;
  margin: 0 auto;
}

.metroarea {
  max-width: 800px;
  margin: 0 auto;
}

.metroarea h2 {
  border-bottom: 2px solid #f50057;
  margin-top: 65px;
}

.metroarea ul {
  list-style-position: inside;
  padding-left: 0px;
}

.metroarea li {
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}

.metroarea p {
  font-weight: 300;
}
