.notfound {
  max-width: 870px;
  margin: 0 auto;
  padding-left: 35px;
  padding-left: 35px;
}

.notfound p {
  margin-top: 65px;
}

@media (max-width: 750px) {
  .notfound {
    padding-left: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  .notfound {
    padding-left: 20px;
    padding-left: 20px;
  }
}
