.results {
  max-width: 800px;
  margin: 0 auto;
}

.results h2 {
  border-bottom: 2px solid #f50057;
}

.results p {
  font-weight: 300;
}

.results ul {
  list-style-position: inside;
  padding-left: 0px;
}
.results li {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: square;
  font-weight: 300;
}

.results-intro {
  margin-top: 65px;
  margin-bottom: 45px;
}
