.results {
  max-width: 870px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
}

.results h2 {
  border-bottom: 2px solid #f50057;
}

.results p {
  font-weight: 300;
}

.results ul {
  list-style-position: inside;
  padding-left: 0px;
}
.results li {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: square;
  font-weight: 300;
}

.results-intro {
  margin-top: 65px;
  margin-bottom: 40px;
}


/* Small Screen Styling */

@media (max-width: 750px) {
  .results {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .results {
    padding-left: 20px;
    padding-right: 20px;
  }

  .results-intro {
    margin-top: 40px;
    margin-bottom: 35px;
  }
}
