.search-container {
  background-color: #f5f5f6;
}

/*Setting overflow to auto makes div expand to contain inner content's margins
(h2's margins overflow and push div down, leaving a gap). Could get same effect
by controlling h2 margins but I think this makes more sense.*/
.search {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  overflow: auto;
}

.search-header {
  text-align: center;
}
