/*General Search Styling*/

  .search-wrapper {
    background-color: #f8fafb;
  }

  /*Setting overflow to auto makes div expand to contain inner content's margins
  (otherwise h2's margins overflow and push div down, leaving a gap). Could get same effect
  by controlling h2 margins but I think this makes more sense for what I want.*/
  .search {
    max-width: 870px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    text-align: left;
    overflow: auto;
  }

  .search-heading {
    margin-top: 65px;
    border-bottom: 2px solid #f50057;
  }

  .search p {
    font-weight: 300;
    margin-bottom: 65px;
  }



/*Form Styling*/

  form {
    background-color: white;
    max-width: 800px;
    margin-bottom: 50px;
    border: 2px solid #cccccc;
    padding-left: 35px;
    padding-right: 35px;
  }

  form h3 {
    border-bottom: 1px solid #f50057;
    margin: 0;
  }

  button {
    display: block;
    margin: 40px auto 60px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: 3px solid #039be5;
    background-color: white;
    color: #039be5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    color: white;
    background-color: #039be5;
  }

  button:active {
    color: black;
  }

  .search-heat, .search-cold, .search-precip {
    margin-top: 35px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .search-heat {
    margin-top: 60px;
  }

  .search h3 {
    font-size: 24px;
  }


/*Small Screen Styling*/

@media (max-width: 750px) {
  .search {
    padding-left: 30px;
    padding-right: 30px;
  }

  form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .search {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search p {
    margin-bottom: 40px;
  }

  .search-heat {
    margin-top: 45px;
  }

  .search-heading {
    margin-top: 40px;
  }

  form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
