.SharedAreaList ul {
  list-style-position: inside;
  padding-left: 0px;
}

.SharedAreaList li {
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}

.SharedAreaList li a {
  text-decoration: none;
}
