.weather-context {
  background-color: #f8fafb;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 2px 0 #cccccc;
  margin-top: 10px;
}

.weather-context ul {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.weather-context li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 550px) {
  .weather-context ul {
    padding-left: 10px;
  }
  .weather-context li {
    font-size: 16px;
  }
}

.weather-context-value {
  font-weight: 400;
}
