/*Styling for range input slider*/

  /*Note position relative needed so z-index will be respected by FF*/
  /*Track height must be set here and in moz section for it to work in FF*/
  /*Margin set to 7 rather than 6 intentionally. See webkit thumb note.*/
  input[type=range].WeatherRangeInput-input {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin: 7px 0;
    background-color: inherit;
    padding: 0px;
    z-index: 10;
    position: relative;
  }
  input[type=range].WeatherRangeInput-input:focus {
    outline: none;
  }


  /*WEBKIT Specific Styling*/

    input[type=range].WeatherRangeInput-input::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      /*background: transparent;*/
      background: rgba(255, 255, 255, 0);
      border-radius: 0px;
      border: 0px solid #010101;
      z-index: 10;
    }

    /*Negative top margin needed in webkit or else margin is calculated from thumb top.
    In webkit for reasons I don't understand a 20px thumb height isn't really 20px, and it extends
    slightly more to the top. In theory a 8px track with 6px top/bottom margins should work
    for a 20px thumb, but it doesn't. So setting margins to 7px but only altering thumb top margin
    by -6 instead of -7 seems to solve the issue.*/
    input[type=range].WeatherRangeInput-input::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 20px;
      width: 12px;
      border-radius: 2px;
      background: #039be5;
      /*background: rgba(154, 154, 154, 1);*/
      /*background: #797979;*/
      /*background: #29b6f6;*/
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;
      z-index: 10;
    }

    input[type=range].WeatherRangeInput-input:focus::-webkit-slider-thumb {
      background: #0274ab;
    }




  /*MOZ Specific Styling*/

    input[type=range].WeatherRangeInput-input::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      /*background: #cfcfcf;*/
      background: transparent;
      border-radius: 0px;
      border: 0px solid #010101;
      z-index: 10;
    }
    input[type=range].WeatherRangeInput-input::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 20px;
      width: 12px;
      border-radius: 2px;
      background: #039be5;
      cursor: pointer;
      z-index: 10;
    }

    input[type=range].WeatherRangeInput-input:focus::-moz-range-thumb {
      background: #0274ab;
    }

    /*Removes FF default focus wring around range input slider when focused*/
    input[type=range].WeatherRangeInput-input::-moz-focus-outer {
    border: 0;
    }


  /*MS Specific Styling*/
  /*Note that upper and lower are styled becuase it was suggested in several places
  that there might be edge issue with leaving them unstyled. Not sure if correct*/
  
    input[type=range].WeatherRangeInput-input::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range].WeatherRangeInput-input::-ms-fill-lower {
      background: transparent;
      border: 0px solid #010101;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type=range].WeatherRangeInput-input::-ms-fill-upper {
      background: transparent;
      border: 0px solid #010101;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type=range].WeatherRangeInput-input::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 20px;
      width: 12px;
      border-radius: 2px;
      background: #039be5;
      cursor: pointer;
      height: 8px;
    }
    input[type=range].WeatherRangeInput-input:focus::-ms-thumb {
      background: #0274ab;
    }
    input[type=range].WeatherRangeInput-input:focus::-ms-fill-lower {
      background: transparent;
    }
    input[type=range].WeatherRangeInput-input:focus::-ms-fill-upper {
      background: transparent;
    }


  /*Styling for simulated slider fill*/

    /*Height and line height set because browsers seem to give the div a unsuaul height otherwise.
    This fixes that. Not sure of the origin of the problem.*/
    .slider-container {
      position: relative;
      flex: 1;
      line-height: 1;
      height: 22px;
    }

    .left-fill {
      height: 8px;
      width: 50%;
      background-color: rgba(207, 207, 207, 1);
      position: absolute;
      top: 7px;
      left: 0;
      z-index: 9;
    }

    .right-fill {
      height: 8px;
      width: 100%;
      background-color: rgba(154, 154, 154, 1);
      position: absolute;
      top: 7px;
      left: 0;
      z-index: 8;
    }



/*Styling for entire label/slider/value display unit*/

  .WeatherRangeInput {
      display: flex;
      flex: 1;
      max-width: 700px;
      margin: 15px 0 15px 0;
      align-items: center;
  }

  .WeatherRangeInput label {
    margin-right: 25px;
    width: 71px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
  }

  .WeatherRangeInput-unit-value {
    display: flex;
    align-items: baseline;
    margin-left: 25px;
    width: 97px;
  }

  .WeatherRangeInput-unit-value .value {
    font-size: 28px;
  }

  .WeatherRangeInput-unit-value .unit {
    font-size: 14px;
    margin-left: .75em;
    font-weight: 300;
  }
