/*
I believe the stuff below is old and unneeded, but keeping around until sure.

input {
  border: none;
  border-bottom: 1px dotted black;
  margin-left: 0.5em;
  font-size: 1em;
  outline: none;
}*/
